.NewTodoForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.NewTodoForm label {
  min-width: 100%;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.NewTodoForm input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}

.NewTodoForm button {
  padding: 0 1.3rem;
  border: none;
  background: rgb(152, 174, 185);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  margin-right: 14px;
  cursor: pointer;
  border-radius: 8px;
  transform: background 0.2s ease-out;
}

.NewTodoForm button:hover {
  background:  rgb(93, 181, 210);
}

.NewTodoForm input,
.NewTodoForm button {
  height: 3rem;
}