.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 1.5rem;
  align-items: center;
  background: rgba(159, 199, 200, 0.17);
  border-radius: 20px;
}

.Todo-task {
  margin-left: 10px;
  position: relative;
  transition: opacity 0.4s linear;
}

.Todo-task.completed {
  /* 요소의 투명도 */
  opacity: 0.6;
}

/* position: absolute로 글자를 기준으로 박스를 띄워서 글자 중간선을 띄우기위해 top: 50%를 줌 */
/* 처음에는 width가 0% 이므로 보이지 않았다가 애니메이션을 통해 width값을 늘려줘서 중간선 보이게 됨 */
.Todo-task.completed:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: strikeitem 0.5s ease-out 0s forwards;
}

/* 애니메이션 => 글자 길이 + 1rem 만큼 선 그어지게 */
@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.Todo-buttons {
  flex-shrink: 0;
  margin-left: auto;
  padding-left: 0.7em;
}

.Todo-buttons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.Todo-edit-form {
  display: flex;
  flex-wrap: wrap;
}

.Todo-edit-form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.Todo-edit-form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}

.Todo-edit-form button {
  padding: 0 1.3rem;
  border: none;
  background: lightskyblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  border-radius: 8px;
  /* transform background..? */
  transform: background 0.2s ease-out;
}

.Todo-edit-form button:hover {
  background: rgb(103, 184, 238);
}

.Todo-edit-form input,
.Todo-edit-form button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}